<section class="presentation">
  <h3>Pour vous sublimer</h3>
    <img src="assets/pictures/doctor.jpg" alt="owner">
    <p>
      Françoise vous accueille dans son établissement où règne une atmosphère de calme et d'élégance.
      Ses années d'expérience se traduisent par une compréhension approfondie des besoins de chacun, permettant de sculpter des moments de soin qui sont à la fois un art et une science.
      Son espace est conçu pour être un refuge, un lieu où la beauté se cultive et se célèbre en toute intimité et splendeur.
    </p>
</section>

