<div class="category-selector">
  <!-- Catégorie "Tous" -->
  <div
    class="cat-bubble"
    [ngClass]="{'selected': !productService.categorySelected$()}"
    (click)="selectCategory(null)">
    <span>Tous les produits</span>
  </div>

  <!-- Autres catégories -->
  @for(category of productService.categories$(); track category.product_category_id){
    <div
      class="cat-bubble"
      [ngClass]="{'selected': isSelected(category)}"
      (click)="selectCategory(category)">
      <span>{{ category.name }}</span>
    </div>
  }
</div>
