<div class="input" >
  <label class="floating-label"
         [class.fixed-label]="inputFocus || config.formControl.value.length > 0">{{ config.label }}</label>
  <input class="floating-input"
         [formControl]="config.formControl"
         [type]="config.inputType"
         [placeholder]="config.placeholder"
         autocomplete="new-password"
         (focus)="inputFocus=true"
         (blur)="inputFocus=false"  >


  <app-form-error [control]="config.formControl"></app-form-error>

</div>

