.main-content {
  overflow-y: auto; /* Permet le défilement vertical */
  padding-bottom: 116px; /* Évite que le contenu ne soit caché derrière le menu */
}

.bottom-nav {
  background: var(--theme-bg-primary);
  height: 64px;
  display: flex;
  justify-content: space-between; /* Centre les éléments horizontalement */
  padding: 16px;
  align-items: center; /* Centre les éléments verticalement */
  list-style-type: none;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

}

.bottom-nav li {
  padding: 16px 16px; /* Ajuste le padding pour mieux centrer */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  text-align: center; /* Centre le texte à l'intérieur de chaque élément */
}

.bottom-nav li.active {
  color: #007bff; /* Couleur du texte et icône pour l'élément actif */
  text-decoration: underline;
}

.menu__icon {
  font-size: 24px;
}

.menu__icon.active {
  color: #007bff; /* Changement de couleur de l'icône lorsqu'actif */
}

.menu__title {
  font-size: 11px;
}

.z-index200 {
  z-index: 200;
}

.menu__title.active {
  color: #007bff; /* Changement de couleur du texte lorsqu'actif */
}
