.input{
  position: relative;
  .floating-label{
    position: absolute;
    pointer-events: none;
    left:10px;
    top:10px;
    transition: all ease .2s;
    height: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;align-items: center;
    font-size: 14px;
    color: var(--theme-primary);

  }
  .fixed-label{
    font-size: 12px;
    height: 14px;

  }
  .floating-input{
    width:100%;
    padding: 24px 10px 10px;
    height: var(--var-security-input-height);
    background: transparent !important;
    color: var(--theme--input-text);
    border: 1px solid var(--theme-secondary);
    border-radius: 15px;

  }
}
