<div class="epil-laser-container">
  <div class="epil-laser-header">
    <div class="header-left">
      <div class="up-left">
        <div class="title">
          <h3>{{header_title | translate}}</h3>
        </div>
        <div class="sub-title">
          <h4>{{header_sub_title | translate}}</h4>
        </div>
      </div>
      <div class="mid-left">
        <p>{{header_text | translate}}</p>
      </div>
      <div class="bottom-btn">
        <button class="btn-secondary">{{header_btn_text | translate}}</button>
      </div>
    </div>
    <div class="header-right">
      <img src="./assets/pictures/epilation-laser.png">
    </div>
  </div>
  <div class="epil-laser-body">
    <div class="body-left">
      <div class="body-up-left">
        <div class="resume">
          <h4>{{resume | translate}}</h4>
        </div>
        <div class="body-up-title">
          <h3>{{title | translate}}</h3>
        </div>
        <div class="rest-title">
          <h5>{{sub_title | translate}}</h5>
        </div>
      </div>
      <div class="body-left-rest">
        <div class="rest1">
          <div class="title-rest1">
            <h6>{{title2 | translate}}</h6>
          </div>
          <div class="part1-rest1">
            <p>{{sub_title2 | translate}}</p>
            <p>{{text2 | translate}}</p>
          </div>
          <div class="part2-rest1">
            <p>{{title3 | translate}}</p>
            <p>{{text3 | translate}}</p>
          </div>
        </div>
        <div class="rest2">
          <div class="title-rest2">
            <h6>{{title4 | translate}}</h6>
          </div>
          <div class="part1-rest2">
            <p>{{title5 | translate}}</p>
            <p>{{text5 | translate}}</p>
          </div>
          <div class="part2-rest2">
            <p>{{title6 | translate}}</p>
            <p>{{text6 | translate}}</p>
          </div>
        </div>
        <div class="rest3">
          <div class="title-rest3">
            <h6>{{title7 | translate}}</h6>
          </div>
          <div class="part1-rest3">
            <p>{{title8 | translate}}</p>
            <p>{{text8 | translate}}</p>
          </div>
          <div class="part2-rest3">
            <p>{{title9 | translate}}</p>
            <p>{{text9 | translate}}</p>
          </div>
          <div class="part3-rest3">
            <p>{{title10 | translate}}</p>
            <p>{{text10 | translate}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="body-right">
      <div class="right-part1">
        <h4>{{pre_treatment | translate}}</h4>
        <p>{{raser | translate}}</p>
        <p>{{retirez | translate}}</p>
      </div>
      <div class="separator"></div>
      <div class="right-part2">
        <h4>{{resultat | translate}}</h4>
        <p>{{general | translate}}</p>
      </div>
      <div class="separator"></div>
      <div class="right-part3">
        <h4>{{apres | translate}}</h4>
        <p>{{maintenez | translate}}</p>
        <p>{{appliquez | translate}}</p>
        <p>{{eviter | translate}}</p>
      </div>
      <div class="rdv">
        <h4>{{rdv |translate}}</h4>
        <button class="btn-primary">{{header_btn_text | translate}}</button>
      </div>
    </div>
  </div>
  <div class="tarif-container">
    <div class="tarif-up">
      <div class="tarif1">
        <h4>{{tarif | translate}}</h4>
      </div>
      <div class="tarif2">
        <h4>{{coute | translate}}</h4>
      </div>
    </div>
    <div class="tarif-price">
      <!-- Femme Section -->
      <div class="tarif-left">
        <div class="tarif-left-title">
          <h5>{{femme | translate}}</h5>
        </div>
        <!-- Visage Section -->
        <div class="left-visage">
          <div class="visage-title">
            <img src="./assets/pictures/visage.png" alt="visage femme">
            <h6>{{visage | translate}}</h6>
          </div>
          <!-- Inter-sourcilier -->
          <div class="left-inter-sourcils">
            <div class="left-inter-sourcils-text">
              <span>{{sourcil | translate}}</span>
              <span>35€</span>
            </div>
            <div class="minute">
              <span>15 {{minute | translate}}</span>
            </div>
          </div>
          <!-- Visage complet -->
          <div class="left-visage-complet">
            <div class="left-visage-complet-text">
              <span>{{visage_complet | translate}}</span>
              <span>110€</span>
            </div>
            <div class="minute">
              <span>30 {{minute | translate}}</span>
            </div>
          </div>
        </div>
        <!-- Corps Section -->
        <div class="left-corps">
          <div class="corps-title">
            <img src="./assets/pictures/corps-femme.png" alt="corps femme">
            <h6>{{corps | translate}}</h6>
          </div>
          <!-- Corps Items -->
          <div class="left-corps-item">
            <div class="corps-item-text">
              <span>{{cou | translate}}</span>
              <span>45€</span>
            </div>
            <div class="minute">
              <span>15 {{minute | translate}}</span>
            </div>
          </div>
          <div class="left-corps-item">
            <div class="corps-item-text">
              <span>{{aisselles | translate}}</span>
              <span>65€</span>
            </div>
            <div class="minute">
              <span>15 {{minute | translate}}</span>
            </div>
          </div>
          <!-- Ajoutez les autres éléments ici -->
        </div>
      </div>

      <!-- Homme Section -->
      <div class="tarif-right">
        <div class="tarif-right-title">
          <h5>{{homme | translate}}</h5>
        </div>
        <!-- Visage Section -->
        <div class="right-visage">
          <div class="visage-title">
            <img src="./assets/pictures/visage-homme.png" alt="visage homme">
            <h6>{{visage | translate}}</h6>
          </div>
          <!-- Inter-sourcilier -->
          <div class="right-inter-sourcils">
            <div class="right-inter-sourcils-text">
              <span>{{sourcil | translate}}</span>
              <span>35€</span>
            </div>
            <div class="minute">
              <span>15 {{minute | translate}}</span>
            </div>
          </div>
          <!-- Mise en forme barbe -->
          <div class="right-visage-complet">
            <div class="right-visage-complet-text">
              <span>{{barbe | translate}}</span>
              <span>65€</span>
            </div>
            <div class="minute">
              <span>20 {{minute | translate}}</span>
            </div>
          </div>
          <!-- Ajoutez les autres éléments ici -->
        </div>
        <!-- Corps Section -->
        <div class="right-corps">
          <div class="corps-title">
            <img src="./assets/pictures/corps-homme.png" alt="corps homme">
            <h6>{{corps | translate}}</h6>
          </div>
          <!-- Corps Items -->
          <div class="right-corps-item">
            <div class="corps-item-text">
              <span>{{aisselles | translate}}</span>
              <span>70€</span>
            </div>
            <div class="minute">
              <span>20 {{minute | translate}}</span>
            </div>
          </div>
          <div class="right-corps-item">
            <div class="corps-item-text">
              <span>{{dos | translate}}</span>
              <span>95€</span>
            </div>
            <div class="minute">
              <span>20 {{minute | translate}}</span>
            </div>
          </div>
          <!-- Ajoutez les autres éléments ici -->
        </div>
      </div>
    </div>
  </div>
</div>
