<section class="care-selection">
  <div class="head">
    <h3>Notre sélection de produits incontournables</h3>
    <a>Voir tous les produits</a>
  </div>
  <div class="slider-container">
    <button class="nav-button prev" (click)="navigate(-1)">&#10094;</button>
    <div class="slider-content">
      <div class="product-wrapper" [style.transform]="'translateX(' + (-currentIndex * (100/itemsToShow)) + '%)'">
        <div class="product" *ngFor="let product of products">
          <app-product-card [product]="product"></app-product-card>
        </div>
      </div>
    </div>
    <button class="nav-button next" (click)="navigate(1)">&#10095;</button>
  </div>
  <div class="progress-bar">
    <div class="progress-track">
      <div class="progress-fill" [style.width]="getProgressWidth()"></div>
    </div>
  </div>
</section>
