<div class="user-nav">
  <div class="avatar-container" (click)="toggleDrop()">
    <app-user-avatar></app-user-avatar>

    @if(dropOpen){
      <nav class="dropdown-nav">
        <ul class="dropdown-list">

          <li class="dropdown-item profile">
            <app-user-avatar></app-user-avatar>
            <div class="profile-info">
              <span class="profile-name">Florence</span>
              <br>
              <span class="profile-name">Shawn</span>
            </div>
          </li>

          <li class="dropdown-item" (click)="navigateToProfile()">
            <i class="fa-thin fa-user icon"></i>
            <span class="text">{{ profile | translate }}</span>
          </li>

          <li class="dropdown-item">
            <i class="fa-thin fa-calendar-circle-exclamation icon"></i>
            <span class="text">Mes rendez-vous</span>
          </li>

          <li class="dropdown-item" (click)="logout()">
            <i class="fa-thin fa-arrow-right-from-bracket icon"></i>
            <span class="text">{{ logOut | translate }}</span>
          </li>

        </ul>
      </nav>
    }
  </div>
</div>
