.category-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f8f9fa;
  border-radius: 8px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  text-align: center;
  max-width: 138px; /* Harmoniser la largeur avec .care-card */
  margin-right: 16px;

  &:hover {
    transform: translateY(-5px);
  }

  .category-image-container {
    width: 128px; /* Fixer la largeur à 138px pour correspondre à .care-card */
    height: 128px; /* Fixer la hauteur pour maintenir l'image carrée */
    overflow: hidden;
    border-radius: 15px; /* Harmoniser avec .care-card */
    margin-bottom: 10px;

    .category-image {
      width: 100%;
      height: 100%;
      object-fit: cover; /* Garder l'image bien ajustée sans changer ses proportions */
      display: block;
    }
  }

  .category-name {
    font-size: 12px; /* Ajuster la taille de la police */
    font-weight: 600;
    color: #000000;
    padding: 4px;
  }
}
