.care-card {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 138px;
  img {
    border-radius: 15px;
    width: 138px;
    height: 138px;
    object-fit: cover; // Ajuste l'image pour qu'elle remplisse la box en gardant ses proportions
    display: block;    // Évite les espaces blancs sous l'image
  }

  h4 {
    padding: 4px;
    font-size: 12px;
  }
}
