<div *ngIf="control && control.errors && (control.dirty || control.touched)">
  <div *ngFor="let error of getErrorKeys()">
    <div class="error-message">
      <i class="fa-thin fa-circle-exclamation"></i>

      <!-- Gestion des erreurs avec paramètres (comme minlength, maxlength) -->
      <em *ngIf="error.params">
        {{ 'form.errors.' + error.key | translate : error.params }}
      </em>

      <!-- Gestion des erreurs sans paramètres -->
      <em *ngIf="!error.params">
        {{ 'form.errors.' + error.key | translate  }}
      </em>
    </div>
  </div>
</div>
