<div class="video-slide">
  <div class="left">
    <h1>L'accompagnement personnalisé de votre <br>bien-être</h1>
    <h2>Profitez des meilleurs soins esthétiques à Liège et commandez vos produits de beauté en ligne.</h2>
    <div class="btns">
      <button class="primary">Les soins</button>
      <button class="peach">Les produits</button>
    </div>
  </div>
  <div class="right">
    <div class="promo-card">
      <div class="badge">-20%</div>
      <h3>PROMO LANCEMENT</h3>
      <div class="promo-details">
        <span>SUR LES SOINS</span>
        <span>&</span>
        <span>LES PRODUITS</span>
      </div>
      <div class="promo-code">
        <span>CODE PROMO</span>
        <div class="code">LANCEMENT20</div>
      </div>
    </div>
  </div>
  <video #videoPlayer autoplay muted loop playsinline preload="auto" class="background-video">
    <source src="./assets/face-vid.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>
</div>
