<div class="manage-holiday-container">
  <div class="manage-holiday-top">
    <h2>{{ title | translate }}</h2>
    <div class="holiday-actions">
      <button class="primary" (click)="showCreateModal = true">
        <i class="fa-light fa-plus"></i>
        {{ add_holiday | translate }}
      </button>
      <button class="secondary" (click)="showIntervalModal = true">
        <i class="fa-light fa-calendar-range"></i>
        {{ add_holiday_interval | translate }}
      </button>
    </div>
  </div>

  <table class="manage-holiday-table">
    <thead>
    <tr>
      <th (click)="toggleSort('holiday_date')">{{ col_date | translate }}</th>
      <th>{{ col_actions | translate }}</th>
    </tr>
    </thead>
    <tbody>
      @for(holiday of securityService.holidays$(); track holiday.holiday_date){
        <tr>
          <td>{{ holiday.holiday_date | date: 'longDate' }}</td>
          <td class="actions-cell">
            <div class="actions-group">
              <a (click)="deleteHoliday(holiday)" class="action-link delete">
                {{ 'form.holiday.delete.label' | translate }}
              </a>
            </div>
          </td>
        </tr>
      }
    </tbody>
  </table>

  @if(showCreateModal) {
    <app-modal [title]="modal_add_title | translate" (close)="handleClose()">
      <form [formGroup]="formGroup" (ngSubmit)="onSubmitCreateHoliday()">
        @for(config of formControlConfigs; track config.label) {
          <app-floating-label-input-test [config]="config">
          </app-floating-label-input-test>
        }
        <div class="modal-actions">
          <button type="button" class="cancel-btn" (click)="handleClose()">
            {{ 'form.cancel.label' | translate }}
          </button>
          <button type="submit" class="submit-btn" [disabled]="!formGroup.valid">
            {{ 'form.holiday.add.label' | translate }}
          </button>
        </div>
      </form>
      <div class="error-form" [class.active]="error().length > 0">
        @if(error().length > 0) {
          <p>{{ 'security-feature.form.error.description' | labelWithParam:{count: error().length} }}</p>
          @for(error of error(); track error) {
            <div>
              <app-label-with-param
                [label]="'security-feature.form.error.'+error.control+'-'+error.error">
              </app-label-with-param>
            </div>
          }
        }
      </div>
    </app-modal>
  }

  @if(showIntervalModal) {
    <app-modal [title]="modal_add_interval_title | translate" (close)="handleClose()">
      <form [formGroup]="intervalFormGroup" (ngSubmit)="onSubmitCreateHolidayInterval()">
        @for(config of intervalFormControlConfigs; track config.label) {
          <app-floating-label-input-test [config]="config">
          </app-floating-label-input-test>
        }
        <div class="modal-actions">
          <button type="button" class="cancel-btn" (click)="handleClose()">
            {{ 'form.cancel.label' | translate }}
          </button>
          <button type="submit" class="submit-btn" [disabled]="!intervalFormGroup.valid">
            {{ 'form.holiday.interval.add.label' | translate }}
          </button>
        </div>
      </form>
      <div class="error-form" [class.active]="error().length > 0">
        @if(error().length > 0) {
          <p>{{ 'security-feature.form.error.description' | labelWithParam:{count: error().length} }}</p>
          @for(error of error(); track error) {
            <div>
              <app-label-with-param
                [label]="'security-feature.form.error.'+error.control+'-'+error.error">
              </app-label-with-param>
            </div>
          }
        }
      </div>
    </app-modal>
  }
</div>
