@import 'assets/css/reset.css';
@import 'assets/css/font.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Variables de Thème */
:root {
  --column-width: 60px; /* Largeur d'une colonne */
  --gutter-width: 20px; /* Largeur de la gouttière */
  --container-width: calc((var(--column-width) * 12) + (var(--gutter-width) * 11)); /* Largeur totale du conteneur */

  --marquee-speed: 30s;
  --direction: scroll-left;

  --theme-primary: #FFFFFF;
  --theme-secondary: #8C8C8C;
  --theme-black: #000000;
  --theme-bg-primary: #000000;
  --theme-bg-secondary: #d5d5d5;
  --theme-black-dark: #1a2226;
  --theme-white-light: #FFF;
  --theme-card-bg-light: #1a2226;
  --theme-card-color-light: #FFF;
  --theme-card-bg-hover-light: linear-gradient(135deg, #1a2226, #000, #1a2226);
  --theme-tr-hover-light: rgba(140, 140, 140, 0.02);
  --theme-tr-hover-dark: rgba(140, 140, 140, 0.02);
  --theme-card-bg-dark: #FFF;
  --theme-card-color-dark: #000;
  --theme-card-bg-hover-dark: linear-gradient(135deg, #d3d3d3, #ffffff, #d3d3d3);
  --box-shadow-light: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
  --box-shadow-dark: 0 4px 8px rgba(218, 211, 211, 0.3), 0 6px 20px rgba(255, 255, 255, 0.3);

  --theme-buy-text-dark: #00ff00;
  --theme-sell-text-dark: #ff0000;
  --theme-buy-text-light: #008000;
  --theme-sell-text-light: #ff4500;
  /* Couleurs de survol */
  --theme-nav-hover-bg-light: rgba(220, 219, 219, 0.5);
  --theme-nav-hover-bg-dark: rgba(50, 50, 50, 0.5);

  /* Couleurs des États */
  --theme-error-clear: #F76D82;
  --theme-error-clear-opacity: rgba(247, 109, 130, 0.5);
  --theme-error-middle: #EC5564;
  --theme-error-dark: #D94452;
  --theme-success-clear: #62DDBD;
  --theme-success-middle: #46CEAD;
  --theme-success-dark: #35BB9B;
  --theme-warning-clear: #FCD277;
  --theme-warning-middle: #FECD57;
  --theme-warning-dark: #F5BA45;
  --theme-info-clear: #73B1F4;
  --theme-info-middle: #5E9CEA;
  --theme-info-dark: #4B89DA;

  /* Autres Variables */
  --var-security-input-height: 75px;
  --var-side-menu-full-open: 250px;
  --var-side-menu-minimal: 60px;
  --var-header-height: 150px;
  --var-header-background: #F8F9FA;
  --transition-smooth: all ease 0.3s;
}

.overlay-grid {
  gap: var(--gutter-width); /* Espace entre les colonnes */
}
/* Définition de Base */
body {
  font-family: 'Roboto', sans-serif;
  background: var(--theme-bg-primary);
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-weight: 300;
  font-size: 13px;
  height: 100%;
  color: var(--theme-primary);
}

html, body {
  height: 100%;
}

/* Thème Clair */
body.light {
  --theme-bg-gradient: linear-gradient(45deg, rgb(245, 225, 210) 0%, rgb(225, 204, 191) 50%, rgb(206, 186, 175) 100%);
  --theme-bg-primary: #f8f9fa; /* Light gray background */
  --theme-bg-secondary: #ffffff; /* Pure white background */
  --theme-text-primary: #212529; /* Nearly black text */
  --theme-header-bg: #e9ecef; /* Light gray header */
  --theme-header-text: #212529; /* Nearly black text for header */
  --theme-border: #dee2e6; /* Light gray border */
  --theme-button-bg: #e9ecef; /* Light gray button */
  --theme-button-text: #212529; /* Nearly black text on button */
  --theme-button-hover-bg: #ced4da; /* Slightly darker gray for hover */
  --theme-gradient-side-nav: linear-gradient(to top, #e9ecef, #f8f9fa); /* Gradient from light to lighter gray */
  --theme-gradient-bg: linear-gradient(to bottom, #f8f9fa, #e9ecef); /* Gradient for main background */
  --theme-icon-color: #adb5bd; /* Soft gray icon */
  --theme-icon-hover-color: #6c757d; /* Darker gray for icon hover */
  --theme-input-bg: #ffffff; /* White input background */
  --theme-input-border: #ced4da; /* Light gray input border */
  --theme-input-text: #495057; /* Dark gray text for input */
  --theme-input-focus-border: #6c757d; /* Dark gray focus border */
  --theme-cancel-btn-bg: #e9ecef; /* Light gray cancel button */
  --theme-cancel-btn-text: #212529; /* Nearly black cancel button text */
  --theme-cancel-btn-hover-bg: #ced4da; /* Slightly darker gray for cancel hover */
  --theme-submit-btn-bg: #6c757d; /* Dark gray submit button */
  --theme-submit-btn-text: #ffffff; /* White text for submit button */
  --theme-submit-btn-hover-bg: #495057; /* Darker gray for submit hover */
  --theme-error-color: #dc3545; /* Red for errors */
  --theme-label-color: #212529; /* Nearly black label color */
  --box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  --box-shadow-hover: 0px 6px 10px rgba(0, 0, 0, 0.15);
  --theme-icon-bg: #e9ecef; /* Light gray icon background */
  --theme-icon-text: #adb5bd;
  --theme-icon-hover-bg: #ced4da;
  --theme-icon-disabled-bg: #f8f9fa;
  --theme-icon-disabled-text: #6c757d;
  --theme-side-nav-bg: #e9ecef; /* Light gray side nav */
  --theme-primary: #212529;
  --theme-secondary: #adb5bd;
  --theme-border: rgba(186, 186, 186, 0.89);
  --theme-card-bg: #ffffff;
  --theme-card-color: #212529;
  --theme-card-hover: #f8f9fa;
  --theme-tr-hover: #e9ecef;
  --theme-color-text: #212529;
  .logo-container img {
    content: url('assets/pictures/light-logo-beauty-clinic.png');
  }

}



/* Thème Sombre */
body.dark {
  --theme-bg-primary: #343a40; /* Dark gray background */
  --theme-bg-secondary: #212529; /* Nearly black background */
  --theme-text-primary: #f8f9fa; /* Light gray text */
  --theme-header-bg: #495057; /* Dark gray header */
  --theme-header-text: #f8f9fa; /* Light gray text for header */
  --theme-border: #343a40; /* Dark gray border */
  --theme-button-bg: #495057; /* Dark gray button */
  --theme-button-text: #f8f9fa; /* Light gray text on button */
  --theme-button-hover-bg: #343a40; /* Darker gray for hover */
  --theme-gradient-side-nav: linear-gradient(to top, #343a40, #495057); /* Gradient from dark to darker gray */
  --theme-gradient-bg: linear-gradient(to bottom, #212529, #343a40); /* Gradient for main background */
  --theme-icon-color: #6c757d; /* Mid gray icon */
  --theme-icon-hover-color: #adb5bd; /* Light gray for icon hover */
  --theme-input-bg: #495057; /* Dark gray input background */
  --theme-input-border: #343a40; /* Dark gray input border */
  --theme-input-text: #f8f9fa; /* Light gray text for input */
  --theme-input-focus-border: #6c757d; /* Mid gray focus border */
  --theme-cancel-btn-bg: #343a40; /* Dark gray cancel button */
  --theme-cancel-btn-text: #f8f9fa; /* Light gray cancel button text */
  --theme-cancel-btn-hover-bg: #495057; /* Slightly darker gray for cancel hover */
  --theme-submit-btn-bg: #6c757d; /* Mid gray submit button */
  --theme-submit-btn-text: #f8f9fa; /* Light gray text for submit button */
  --theme-submit-btn-hover-bg: #343a40; /* Darker gray for submit hover */
  --theme-error-color: #dc3545; /* Red for errors */
  --theme-label-color: #f8f9fa; /* Light gray label color */
  --box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  --box-shadow-hover: 0px 6px 10px rgba(0, 0, 0, 0.25);
  --theme-icon-bg: #495057;
  --theme-icon-text: #6c757d;
  --theme-icon-hover-bg: #343a40;
  --theme-icon-disabled-bg: #212529;
  --theme-icon-disabled-text: #6c757d;
  --theme-side-nav-bg: #495057; /* Dark gray side nav */
  --theme-primary: #f8f9fa;
  --theme-secondary: #6c757d;
  --theme-border: rgba(57, 57, 57, 0.89);
  --theme-card-bg: #343a40;
  --theme-card-color: #f8f9fa;
  --theme-card-hover: #495057;
  --theme-tr-hover: #343a40;
  --theme-color-text: #f8f9fa;
  .logo-container img {
    content: url('assets/pictures/dark-logo-beauty-clinic.png');
  }
}

body.dark header {
  background: var(--theme-bg-primary);
}

body.light header {
  background: var(--theme-bg-primary);
}

/* Composants et Classes Utilitaires */
.btn-area {
  padding-top: 20px;
  app-simple-button {
    width: 300px;
  }
}

.card-title {
  font-family: 'Lexend-Light';
  padding-bottom: 15px;
  text-transform: uppercase;
  color: var(--theme-secondary);
}

.card-desc {
  color: var(--theme-primary);
}

.fc {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .wrapper {
    width: 100%;
    padding: 1rem;
  }
}

.flex-center {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
}
/* Boutons de Navigation */
body.light .btn-primary {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1); /* Léger effet d'ombre pour donner du relief */
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  background-color: transparent; /* Fond clair */
  color: var(--theme-text-primary); /* Texte sombre */
  font-weight: bold;
  border: 2px solid var(--theme-primary); /* Bordure légère */
  padding: 5px 10px;
  border-radius: 8px;
  text-transform: uppercase;
  transition: background-color 0.4s ease, color 0.4s ease, transform 0.2s ease;
  white-space: nowrap; /* Empêche le texte de se plier */
}

body.light .btn-primary:hover {
  background-color: var(--theme-primary); /* Fond plus foncé au survol */
  color: white; /* Texte blanc au survol */
  transform: translateY(-3px); /* Légère élévation au survol pour un effet interactif */
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.2);
}

body.light .btn-secondary {
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  background-color: black;
  color: var(--theme-bg-primary); /* Texte sombre */
  border: 1px solid var(--theme-text-primary);
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color 0.4s ease, color 0.4s ease, transform 0.2s ease;
  white-space: nowrap; /* Empêche le texte de se plier */
}

body.light .btn-secondary:hover {
  background-color: transparent;
  color: var(--theme-text-primary);
  transform: translateY(-3px); /* Légère élévation au survol pour un effet interactif */
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.2);
}

body.dark .btn-primary {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1); /* Léger effet d'ombre pour donner du relief */
  font-family: 'Lato', sans-serif;
  background-color: var(--theme-bg-secondary); /* Fond sombre */
  color: var(--theme-text-primary); /* Texte clair */
  border: 1px solid var(--theme-border); /* Bordure foncée */
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color 0.4s ease, color 0.4s ease, transform 0.2s ease;
  white-space: nowrap; /* Empêche le texte de se plier */
}

body.dark .btn-primary:hover {
  background-color: var(--theme-button-hover-bg); /* Fond plus foncé au survol */
  color: var(--theme-text-primary); /* Texte clair */
  transform: translateY(-3px); /* Légère élévation au survol pour un effet interactif */
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.2);
}

body.dark .btn-secondary {
  font-family: 'Lato', sans-serif;
  background-color: transparent; /* Fond transparent */
  color: var(--theme-text-primary); /* Texte clair */
  border: 1px solid var(--theme-border); /* Bordure foncée */
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color 0.4s ease, color 0.4s ease, transform 0.2s ease;
  white-space: nowrap; /* Empêche le texte de se plier */
}

body.dark .btn-secondary:hover {
  background-color: var(--theme-bg-secondary); /* Fond plus sombre au survol */
  color: var(--theme-text-primary); /* Texte clair */
  transform: translateY(-3px); /* Légère élévation au survol pour un effet interactif */
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.2);
}

/* Style pour le thème clair */
body.light .btn-ternary {
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  background-color: transparent; /* Fond transparent */
  color: var(--theme-text-primary); /* Couleur du texte adaptée au thème clair */
  font-weight: bold;
  border: 1px solid var(--theme-primary); /* Bordure plus épaisse */
  padding: 10px 20px;
  border-radius: 8px; /* Coins très arrondis pour un look moderne */
  transition: background-color 0.4s ease, color 0.4s ease, transform 0.2s ease;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1); /* Léger effet d'ombre pour donner du relief */
  height: 45px;
  white-space: nowrap; /* Empêche le texte de se plier */
}

body.light .btn-ternary:hover {
  background-color: var(--theme-primary); /* Fond rempli au survol */
  color: white; /* Texte blanc pour le contraste */
  transform: translateY(-3px); /* Légère élévation au survol pour un effet interactif */
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.2); /* Ombre plus prononcée au survol */
}

/* Style pour le thème sombre */
body.dark .btn-ternary {
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  background-color: var(--theme-primary); /* Fond plein dès le départ pour un fort contraste avec le fond sombre */
  color: white; /* Texte blanc */
  font-weight: bold;
  border: 2px solid var(--theme-primary); /* Bordure de la même couleur que le fond */
  padding: 8px 16px;
  border-radius: 30px;
  transition: background-color 0.4s ease, color 0.4s ease, transform 0.2s ease;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2); /* Ombre plus prononcée pour le thème sombre */
  white-space: nowrap; /* Empêche le texte de se plier */
}

body.dark .btn-ternary:hover {
  background-color: transparent; /* Fond transparent au survol pour l'effet inverse */
  color: var(--theme-primary); /* Texte devient coloré au survol */
  transform: translateY(-3px); /* Légère élévation au survol */
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.3); /* Ombre encore plus prononcée */
}

body.light .btn-5 {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1); /* Léger effet d'ombre pour donner du relief */
  font-size: 14px;
  font-family: 'Lato', sans-serif;
  background: radial-gradient(circle, rgb(215, 192, 171) 0%, rgba(239,223,208,1) 100%);
  color: var(--theme-text-primary); /* Texte sombre */
  font-weight: bold;
  border: 2px solid var(--theme-primary); /* Bordure légère */
  padding: 5px 10px;
  border-radius: 8px;
  text-transform: uppercase;
  transition: background-color 0.4s ease, color 0.4s ease, transform 0.2s ease;
  white-space: nowrap; /* Empêche le texte de se plier */
}

body.light .btn-5:hover {
  background-color: transparent; /* Fond plus foncé au survol */
  color: black; /* Texte blanc au survol */
  transform: translateY(-3px); /* Légère élévation au survol pour un effet interactif */
  box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.2);
}



/* Scrollbar Styles */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--theme-primary);
}

html {
  scrollbar-width: thin;
}

html, body {
  overflow-x: hidden;
}


.error-form {
  transition: var(--transition-smooth);
  transform: translateX(-50%);
  flex-direction: column;
  justify-content: space-around;
  background: var(--theme-error-clear-opacity);
  color: white;
  overflow: hidden;
  width: 400px;
  min-height: 100px;
  display: none;

}

.error-form.active {
  display: flex;
  transform: translateX(0%);
  border: 1px solid var(--theme-dark-clear);
  border-radius: 10px;
  height: auto;
  padding: 10px 10px 10px 10px;
  font-size: 15px;
  color: var(--theme-error-dark);
}
