<section class="password-section">
  <h2 class="section-title">{{ 'profile.changePassword' | translate }}</h2>

  <form (ngSubmit)="onSubmitPassword()" class="form-container">
    <fieldset>
      @for(input of passwordFormControlConfigs; track input.label) {
        <app-floating-label-input-test [config]="input"></app-floating-label-input-test>
      }
    </fieldset>

    @if(this.securityService.error$()) {
      <div class="error-message">
        <i class="fa-thin fa-circle-exclamation"></i>
        <em>{{ this.securityService.error$()! | translate }}</em>
      </div>
    }

    <button type="submit" class="primary" [disabled]="!passwordFormGroup.valid">
      {{ 'form.updatePassword' | translate }}
    </button>
  </form>
</section>
