<app-home-header></app-home-header>
<div class="content-container">
  <div class="text-container">
    <h2 class="title"> {{title | translate}}</h2>
    <h3 class="intro"> {{intro | translate}}</h3>
  </div>
  <div class="home-intro-cards">
    @for(cardConfig of introCardsConfig; track cardConfig.title){
      <app-home-intro-card [config]="cardConfig"></app-home-intro-card>
    }
  </div>

  <div class="home-presentation-container">
    <div class="left-pres">
      <img src="assets/pictures/francoise.png">
    </div>
    <div class="right-pres">
      <div class="righ-pres-up">
        <div class="up-title-pres">
          <h3>{{presUpTitle | translate}}</h3>
        </div>
        <div class="title-pres">
          <p>{{presTitle | translate}}</p>
        </div>
      </div>
      <div class="text-pres">
        <div class="text-pres-1">
          <p>{{presText1 | translate}}</p>
        </div>
        <div class="text-pres-2">
          <p>{{presText2 | translate}}</p>
        </div>
        <div class="text-pres-3">
          <p>{{presText3 | translate}}</p>
        </div>
      </div>
      <div class="diag-pres-container">
        <div class="left-icon">
          <i class="fa-thin fa-clipboard-list-check"></i>
        </div>
        <div class="right-diag">
          <div class="right-diag-title">
            <p>{{diagTitle | translate}}</p>
          </div>
          <div class="right-diag-text">
            <p>{{diagText | translate}}</p>
          </div>
          <div class="btn-diag">
            <button class="btn-secondary">{{diagBtnTxt | translate}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="care-trend-title">
    <h3>{{careTrendTitle | translate}}</h3>
  </div>
  <div class="scrolling-card-wrapper">
    <div class="scrolling-card-container">
      <div class="scrolling-cards">
        @for(care of careCardConfig; track care.title){
          <app-care-card [cardConfig]="care"></app-care-card>
        }
      </div>
      <div class="scrolling-cards duplicate">
        @for(care of careCardConfig; track care.title){
          <app-care-card [cardConfig]="care"></app-care-card>
        }
      </div>
    </div>
  </div>

  <div class="all-care-btn">
    <button class="btn-primary">{{allCareBtnText | translate}}</button>
  </div>

</div>
