<div class="reset-password-page">
  <h2>Réinitialiser le mot de passe</h2>
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <fieldset>
      @for(input of formControlConfigs; track input.label){
        <ng-container>
          <app-floating-label-input-test [config]="input"></app-floating-label-input-test>
        </ng-container>
      }
    </fieldset>

    <!-- Message d'erreur si les mots de passe ne correspondent pas -->
    @if(formGroup.errors?.['passwordsMismatch'] && (formGroup.dirty || formGroup.touched)){
      <div class="error-message">
        <i class="fa-thin fa-circle-exclamation"></i>
        <em>Les mots de passe ne correspondent pas.</em>
      </div>
    }
    <!-- Bouton de soumission -->
    <button
      type="submit"
      class="submit-button"
      [disabled]="!formGroup.valid || formGroup.errors?.['passwordsMismatch']">
      <span>Réinitialiser le mot de passe</span>
    </button>
  </form>
</div>
