.product {
  display: flex;
  flex-direction: column; /* Place tous les éléments en colonne */
  border: 1px solid #ddd;
  justify-content: space-between;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px 20px;
  width: 300px;
  height: 550px;
  max-width: 300px;
  padding: 20px; /* Ajoutez du padding pour espacer les éléments du bord */
  background: #ffffff;


}

.strikethrough {
  text-decoration: line-through;
  color: gray;
}

.discounted-price {
  color: red;
  font-weight: bold;
}


.product-header {
  height: 300px;
  position: relative;
  width: 100%;
  text-align: center;
}

.product-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 24px;
  color: #000000; /* Couleur de l'icône */
  background: rgba(204, 204, 204, 0.27);
  padding: 10px 10px;
  border-radius: 50%;
}

img.product-image {
  width: 100%;
  height: auto;
  object-fit: contain; /* Contient l'image sans la couper */
  margin-top: 20px; /* Ajoutez un espace entre l'icône et l'image */
}

.promo-badge {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #ff3860;
  color: #fff;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
}

.product h2 {
  font-size: var(--font-size-large);
  margin: 20px 0 10px;
  color: var(--theme-green);
}

.product h2 {
  font-size: var(--font-size-medium);
}

.product p {
  font-weight: bold;
}


.product h3 {
  font-size: 1rem;
  color: #555;
  margin-bottom: 10px;
}
