<div class="product">
  <div class="product-header">
    <i (click)="addProductToCart(product)" class="fa-light fa-bag-shopping product-icon"></i>
    <img [src]="getProductImage(product)" alt="{{ product.name }}" class="product-image" />
    <span *ngIf="product.promo_percentage > 0" class="promo-badge">{{ product.promo_percentage }}% OFF</span>
  </div>
  <div class="name_description">
    <h2>{{ product.name }}</h2>
    <h3>{{ product.description }}</h3>
  </div>
  <div class="price">
    <!-- Si une promo est active, afficher le prix réduit -->
    <p *ngIf="product.promo_percentage > 0" class="discounted-price">{{ getDiscountedPrice(product) | currency:'EUR':'symbol' }}</p>
    <p [ngClass]="{'strikethrough': product.promo_percentage > 0}">{{ product.price | currency:'EUR':'symbol' }}</p>
  </div>
</div>
