<div class="product" (click)="navigateToDetail()">
  <div class="product-header">
    <app-wishlist-button [productId]="product.product_id!"></app-wishlist-button>
    <img [src]="getProductImage(product)" alt="{{ product.name }}" class="product-image" />
    <span *ngIf="product.is_promo" class="promo-badge">- {{ product.promo_percentage }}%</span>
  </div>

  <div class="product-content">
    <div class="product-info">
      <h2 class="product-name">{{ product.name }}</h2>
      <p class="description">{{ product.description }}</p>
      <div class="rating-container">
        <div class="stars">
          <i *ngFor="let star of getStarsArray()"
             class="fas fa-star"
             [ngClass]="{'filled': star === 1}">
          </i>
        </div>
        <span class="review-count">({{ product.reviews?.length || 0 }})</span>
      </div>
    </div>

    <div class="bottom-content">
      <div class="price-container">
        <ng-container *ngIf="product.is_promo; else normalPrice">
          <span class="original-price">{{ product.initial_price | currency:'EUR':'symbol' }}</span>
          <span class="promo-price">{{ product.price_discounted | currency:'EUR':'symbol' }}</span>
        </ng-container>
        <ng-template #normalPrice>
          <span class="regular-price">{{ product.initial_price | currency:'EUR':'symbol' }}</span>
        </ng-template>
      </div>

      <button (click)="addProductToCart(product); $event.stopPropagation()" class="add-to-cart-btn">
        <span>Ajouter au panier</span>
      </button>
    </div>
  </div>
</div>
