<p>forgot-password works!</p>
<section id="wrapper">
  <h2>Forgot Password</h2>

  <!-- Message de succès -->
  @if(successMessage){
    <div class="alert alert-success">
      {{ successMessage }}
    </div>
  }

  <!-- Message d'erreur -->
  @if(errorMessage){
    <div  class="alert alert-danger">
      {{ errorMessage }}
    </div>
  }

  <div class="form-area">
    @for(input of formControlConfigs; let last=$last;let index=$index; track index){
      <div class="input">
        <app-floating-label-input [config]="input"></app-floating-label-input>
        @if(last){
          <div class="icon" (click)="formGroup.valid && onSubmit()">
          </div>
        }
      </div>
    }
  </div>
</section>
