.carousel__container {
  position: relative; /* Nécessaire pour positionner le pseudo-élément correctement */
  padding: 16px 16px;
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  gap: 16px;
}

.carousel__container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('assets/pictures/tropical-monstera-leaf-border-frame-leaf-banner-background.jpg'); /* Ajoutez l'image de fond */
  background-size: contain; /* Adapte l'image pour qu'elle soit sur les côtés */
  background-position: left, right; /* Positionne l'image sur les côtés gauche et droit */
  background-repeat: no-repeat; /* Ne répète pas l'image */
  filter: blur(5px) grayscale(50%); /* Applique un flou et une teinte grisée */
  z-index: 0; /* Place l'arrière-plan derrière le contenu principal */
}

.carousel__container__carousel {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Centre le contenu horizontalement */
  width: 100%;
  flex-grow: 1; /* Permet au carousel de prendre tout l'espace disponible */
  transform-style: preserve-3d;
  transition: transform 1s;
  position: relative;
  z-index: 1; /* Place le contenu au-dessus de l'arrière-plan flouté */
}

.carousel__container__carousel__slide {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centre le contenu verticalement */
  gap: 16px;
  z-index: 1; /* Place le slide au-dessus de l'arrière-plan flouté */

  h2 {
    font-size: var(--font-size-large);
    text-transform: uppercase;
    font-weight: bold;
    color: var(--theme-green);
  }

  p {
    font-size: var(--font-size-medium);
  }
}

.carousel__container__carousel__indicators {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 1;

  .carousel__container__carousel__indicators-indicator {
    width: 90px;
    height: 5px;
    border-radius: 0;
    background-color: #ccc;
    margin: 8px 5px 0;
    cursor: pointer;
    transition: background-color 0.3s;

    &.active {
      background-color: black;
    }

    &:hover {
      background-color: black;
    }
  }
}

.controls {
  margin-top: 20px;
  position: relative;
  z-index: 1;
}
