<app-care-header></app-care-header>
<div class="care-container">
  <div class="care-text">
    <h3>{{title1 | translate}}</h3>
    <h4>{{title2 | translate}}</h4>
  </div>
  <div class="diag-category">
    <div class="diag-title">
      <h4>{{diag_title | translate}}</h4>
    </div>
    <div class="card-list">
      @for(care of diagConfig; track care.title){
        <app-care-detail-card [config]="care"></app-care-detail-card>
      }
    </div>
  </div>
  <div class="epil-category">
    <div class="epil-title">
      <h4>{{epil_title | translate}}</h4>
    </div>
    <div class="card-list">
      @for(care of epilationConfig; track care.title){
        <app-care-detail-card [config]="care"></app-care-detail-card>
      }
    </div>
  </div>
</div>
