
.signup-page {
  padding: 16px 16px;
  display: flex;
  flex-direction: column;
  gap:20px;

  .signup-page__header{
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
  }

  h1 {
    font-size: 24px;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
  }

  .error-form{
    margin-top: 8px;
  }

  .text-with-lines {
    margin-top: 50px;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .text-with-lines .line {
    flex-grow: 1;
    height: 1px;
    background-color: #ccc;
  }

  .text-with-lines .text {
    padding: 0 10px;
    font-size: 14px;
    font-weight: 500;
    color: #333;
  }

}
