<div class="signup-page">
  <div class="signup-page__header">
    <img class="logo-image" [ngSrc]="logoSrc" [height]="height" [width]="width" [alt]="alt">
    <h1>{{brand}}</h1>
  </div>
  <h2>Inscrivez-vous pour continuer</h2>
  <div class="form-container">
    <app-security-form [formGroup]="formGroup" [title]="title | translate" [redirect]="redirect | translate"
                       [config]="formControlConfigs" (initiateSubmit)="onSubmit()" (redirectSignup)="handleRedirect()">
    </app-security-form>
    <div class="error-form" [class.active]="error().length > 0">
      @if(error().length > 0){
        <p>{{ 'security-feature.sign-up-page.error.description' | labelWithParam:{count: error().length} }}</p>
      }
      @for(error of error(); track error){
        <div>
          <app-label-with-param [label]="'security-feature.sign-up-page.error.'+error.control+'-'+error.error"></app-label-with-param>
        </div>
      }
    </div>
    <div class="text-with-lines">
      <div class="line"></div>
      <span class="text">{{or | translate}}</span>
      <div class="line"></div>
    </div>
  </div>
  <div class="signin">
    <p>{{already | translate}}</p>
    <p class="link" (click)="handleRedirect()">{{connect | translate}}</p>
  </div>
</div>
<app-google-button></app-google-button>

