.manage-care-container {
  display: flex;
  gap:10px;
  flex-direction: column;
  padding: 20px;
  height: 100vh;
  background: var(--theme-bg-primary);
  overflow: hidden;

  .manage-care-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;

    h2 {
      margin: 0;
      font-size: 24px;
      font-weight: bold;
    }

    .add-care-btn button {
      display: flex;
      align-items: center;
      background-color: var(--theme-button-bg);
      color: white;
      border: none;
      padding: 10px 15px;
      border-radius: 4px;
      cursor: pointer;

      i {
        margin-right: 8px;
      }
    }
  }

  .manage-care-table {
    border: 1px solid var(--theme-secondary);
    width: 100%;
    border-collapse: collapse;
    background-color: var(--theme-bg-secondary);
    border-radius: 8px;
    overflow: hidden;

    th, td {
      text-align: left;
      padding: 12px;
      border-bottom: 1px solid #ddd;
    }

    th {
      background-color: var(--theme-primary-light);
      font-weight: bold;
      color: var(--theme-text-light);
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }
    }

    td {
      background-color: var(--theme-bg-primary);
      color: var(--theme-text-primary);
    }

    /* Edit and Delete Icons */
    td button {
      background: none;
      border: none;
      cursor: pointer;

      i {
        font-size: 20px; /* Adjust the font size to increase or decrease icon size */
        width: 20px;     /* Optionally, set width */
        height: 20px;    /* Optionally, set height */
        color: var(--theme-primary);

        &:hover {
          color: var(--theme-accent-color); /* Change color on hover if needed */
        }
      }

      /* Different styling for specific icons */
      .fa-pen-to-square {
        color: var(--theme-edit-icon-color); /* Customize color for edit icon */
      }

      .fa-trash {
        color: var(--theme-delete-icon-color); /* Customize color for delete icon */
      }
    }
  }


  /* Styles for the form inside the modal */
  app-modal {
    .form-group {
      display: flex;
      flex-direction: column;
      margin-bottom: 15px;

      label {
        margin-bottom: 5px;
        font-weight: bold;
        color: var(--theme-primary);
      }

      input {
        padding: 10px;
        border: 1px solid var(--theme-dark-clear);
        border-radius: 4px;
        font-size: 14px;
        background-color: var(--theme-bg-primary);
        color: var(--theme-text-primary);

        &:focus {
          border-color: var(--theme-accent-color);
          outline: none;
        }
      }

      &.input.with-icon {
        display: flex;
        align-items: center;

        input {
          flex: 1;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }

        .icon {
          min-width: 40px;
          height: 100%;
          background-color: var(--theme-dark-clear);
          border-top-right-radius: 4px;
          border-bottom-right-radius: 4px;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;

          i {
            color: var(--theme-text-primary);
          }

          &:hover {
            background-color: var(--theme-standard-bg-hover);
          }

          &.disabled {
            background-color: #f2f2f2;
            cursor: default;

            i {
              color: var(--theme-secondary);
            }
          }
        }
      }
    }

    .modal-footer {
      display: flex;
      justify-content: flex-end;
      margin-top: 20px;
      gap: 10px;

      button {
        padding: 10px 16px;
        border-radius: 4px;
        border: none;
        cursor: pointer;
        font-size: 14px;
        transition: background-color 0.3s;
      }

      .cancel-btn {
        background-color: var(--theme-secondary);
        color: white;

        &:hover {
          background-color: var(--theme-secondary-dark);
        }
      }

      .submit-btn {
        background-color: var(--theme-primary);
        color: white;

        &:hover {
          background-color: var(--theme-primary-dark);
        }
      }
    }

    .error-form {
      margin-top: 10px;
      color: var(--theme-error);
      font-size: 14px;

      &.active {
        display: block;
      }

      & > div {
        margin-top: 5px;
        font-size: 12px;
      }
    }
  }
}
