<div class="home-header">
  <div class="home-header__brand">
    <img src='./assets/icon/logo-beauty-clinic.svg' alt='clinic logo'>
    <div class="home-header__brand__name">
      <span>Beauty Clinic</span>
      <span>By Françoise</span>
    </div>
  </div>
  <div class="home-header__text_and_img">
    <div class="home-header__text">
      <h1>Des soins et des produits de beauté pour chacun.</h1>
    </div>
    <div class="home-header__img">
      <img src="./assets/pictures/close-up-woman-face.png" alt="close up of a woman">
    </div>
  </div>
</div>
