<div class="contact-card-container">
  <div class="top-container">
    <div class="address">
      <i class="fa-light fa-location-dot"></i>
      <span>Rue Du Pont, 4000 Liège</span>
    </div>
    <div class="phone">
      <i class="fa-light fa-phone"></i>
      <span>049654841218</span>
    </div>
    <div class="mail">
      <i class="fa-regular fa-at"></i>
      <span>mail&#64;mail.com</span>
    </div>
  </div>
  <div class="bottom-container">
    <img src="assets/pictures/facebook.png" alt="facebook logo">
    <img src="assets/pictures/instagram.png" alt="instagram logo">
    <img src="assets/pictures/tiktok.png" alt="tiktok logo">
  </div>
</div>
