<div class="category-container">
  <div class="category-header">
    <h2>Gérer les catégories</h2>
    <button class="primary" (click)="openCreateModal()">
      {{ 'form.category.product.add.label' | translate }}
    </button>
  </div>

  <table class="category-table">
    <thead>
    <tr>
      <th>{{ 'table.header.name' | translate }}</th>
      <th>Description</th>
      <th>{{ 'table.header.actions' | translate }}</th>
    </tr>
    </thead>
    <tbody>
      @for(category of securityService.CategoryProducts$(); track category.product_category_id) {
        <tr>
          <td>{{ category.name }}</td>
          <td>{{category.description}}</td>
          <td class="actions-cell">
            <div class="actions-group">
              <a (click)="openEditModal(category)" class="action-link edit">
                Editer
              </a>
              <span class="action-separator">|</span>
              <a (click)="togglePublishCategory(category)" class="action-link"
                 [ngClass]="category.isPublished ? 'unpublish' : 'publish'">
                {{ category.isPublished ? 'Dépublier' : 'Publier' }}
              </a>
              <span class="action-separator">|</span>
              <a (click)="openDeleteModal(category)" class="action-link delete">
                Supprimer
              </a>
            </div>
          </td>
        </tr>
      }
    </tbody>
  </table>

  @if(showDeleteModal){
    <app-modal [title]="'form.category.product.delete.confirm.title' | translate" (close)="handleClose()">
      <div class="del-modal">
        <h3 class="">{{ 'form.category.product.delete.confirm.message' | translate }} ? </h3>
        <span>{{ currentCategory?.name }}</span>
      </div>
      <div class="modal-actions">
        <button (click)="deleteCategory()" class="primary">
          {{ 'form.category.product.delete.confirm.button' | translate }}
        </button>
        <button (click)="handleClose()" class="primary">
          {{ 'form.cancel.label' | translate }}
        </button>
      </div>
    </app-modal>
  }

  @if(showEditModal){
    <app-modal  [title]="modal_edit_title | translate" (close)="handleClose()">
      <form [formGroup]="updateCategoryProductFormGroup" (ngSubmit)="onSubmitUpdateCategory()">
        @for(input of updateCategoryFormControlConfigs; track input.label){
          <app-floating-label-input-test [config]="input"></app-floating-label-input-test>
        }
        <div class="modal-actions">
          <button [disabled]="!updateCategoryProductFormGroup.valid" (click)="onSubmitUpdateCategory()" class=" primary">
            {{ 'form.category.product.update.label' | translate }}
          </button>
        </div>
      </form>
    </app-modal>
  }

  @if(showCreateModal){
    <app-modal [title]="modal_create_title | translate" (close)="handleClose()">
      <form [formGroup]="createCategoryProductFormGroup" (ngSubmit)="onSubmitCreateCategory()">
        @for(input of createCategoryFormControlConfigs; track input.label){
          <app-floating-label-input-test [config]="input"></app-floating-label-input-test>
        }
        <div class="modal-actions">
          <button [disabled]="!createCategoryProductFormGroup.valid" (click)="onSubmitCreateCategory()" class="primary">
            {{ 'form.category.product.add.label' | translate }}
          </button>
        </div>
      </form>
    </app-modal>
  }
</div>
