<div class="profile-section">
  <div class="avatar-container">
    <div class="avatar-wrapper" (click)="triggerFileInput()">
      <app-user-avatar [alt]="avatarAlt | translate" [width]="'150px'" [height]="'150px'"></app-user-avatar>
      <div class="edit-icon">
        <i class="fas fa-camera"></i>
      </div>
    </div>
    <input type="file" id="profileImage" (change)="onProfileImageChange($event)" accept="image/*" hidden #fileInput>
  </div>
  <span class="firstname-lastname">{{securityService.account$().firstname}} {{securityService.account$().lastname}}</span>
</div>
